<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [3]:
# create empty list, name it 'a'
a = []

In [4]:
# print the value of a

print("Value of 'a':", a)

Value of 'a': []

In [5]:
# print the type of a
print("Type of 'a':", type(a))

Type of 'a': <class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [6]:
languages = ['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [7]:
print("Number of elements in the list:", len(languages))

Number of elements in the list: 5

Using for loop iterate and print all the elements in the list

In [8]:
print("Elements in the list:")
for language in languages:
    print(language)

Elements in the list:
R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
temp = languages[1]

Print the value of temp and type(temp)

In [10]:
print("Value of 'temp':", temp)
print("Type of 'temp':", type(temp))

Value of 'temp': Python
Type of 'temp': <class 'str'>

Append the element 'Java' in the list

In [11]:
languages.append('Java')

Remove the element 42 from the list and print the list

In [12]:

languages.remove(42)
print("Modified list after appending 'Java' and removing 42:", languages)

Modified list after appending 'Java' and removing 42: ['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [13]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [14]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [24]:

colors.insert(1, 'Orange')

Print the list

In [25]:
print("List after appending 'Black' and 'Orange':", colors)

List after appending 'Black' and 'Orange': ['Red', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [26]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
colors.extend(colors2)

Print len of colors and its elements

In [28]:
print("Length of colors:", len(colors))
print("Elements in colors:", colors)

Length of colors: 11
Elements in colors: ['Red', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [30]:
colors.sort()
print("Sorted list:", colors)

Sorted list: ['Black', 'Blue', 'Grey', 'Orange', 'Orange', 'Orange', 'Orange', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [31]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [32]:
words = sent.split()
print("List of words:", words)

List of words: ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [33]:
words_lower = [word.lower() for word in words]
print("Words in lower case:", words_lower)

Words in lower case: ['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [34]:
print("'country' is in the list:", 'country' in words_lower)

'country' is in the list: False

Remove the element ‘the’ from the list and print the list.

In [35]:
words_lower.remove('the')
print("List after removing 'the':", words_lower)

List after removing 'the': ['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [36]:
x4 = words_lower[:4]

In [37]:
# print x4
print("First 4 words:", x4)

First 4 words: ['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [38]:
joined_string = ' '.join(words_lower)

print("Joined string:", joined_string)

Joined string: coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [39]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [40]:
print("Length of stud_grades:", len(stud_grades))

Length of stud_grades: 6

Create a new variable, stud_grades_set = set(stud_grades)

In [41]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [42]:
print("stud_grades_set:", stud_grades_set)

stud_grades_set: {'C', 'A', 'F', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [43]:
print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))
print("Elements of stud_grades:", stud_grades)
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements of stud_grades_set: {'C', 'A', 'F', 'B'}

Add a new element ‘G’ to stud_grades_set

In [44]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [45]:
stud_grades_set.add('F')
print("After adding 'G' and 'F' to stud_grades_set:", stud_grades_set)

After adding 'G' and 'F' to stud_grades_set: {'B', 'G', 'C', 'A', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [46]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [47]:
print("Elements of stud_grades_set after removing 'F':", stud_grades_set)
print("Length of stud_grades_set:", len(stud_grades_set))

Elements of stud_grades_set after removing 'F': {'B', 'G', 'C', 'A'}
Length of stud_grades_set: 4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [48]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [49]:
print("Colors:", colors)
print("Fruits:", fruits)

Colors: ['red', 'blue', 'orange']
Fruits: ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [50]:
colors_set = set(colors)
fruits_set = set(fruits)
print("Colors Set:", colors_set)
print("Fruits Set:", fruits_set)

Colors Set: {'orange', 'blue', 'red'}
Fruits Set: {'orange', 'grapes', 'apples'}

Find the union of both the sets.

In [51]:
union_set = colors_set.union(fruits_set)
print("Union of colors_set and fruits_set:", union_set)

Union of colors_set and fruits_set: {'grapes', 'apples', 'orange', 'blue', 'red'}

Find the intersection of both the sets

In [52]:
intersection_set = colors_set.intersection(fruits_set)
print("Intersection of colors_set and fruits_set:", intersection_set)

Intersection of colors_set and fruits_set: {'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [53]:
fruits_not_colors = fruits_set.difference(colors_set)
print("Fruits but not colors:", fruits_not_colors)

Fruits but not colors: {'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [54]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [55]:
print("Items in temp:")
for item in temp:
    print(item)

Items in temp:
17
Virat
50.0

replace first element with 11 in temp

In [56]:
temp[0] = 11

Set temp1 = tuple(temp)

In [57]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [58]:
print("\nItems in temp1:")
for item in temp1:
    print(item)

Items in temp1:
11
Virat
50.0

replace first element with 17 in temp1

In [59]:
try:
    temp1[0] = 17
except TypeError as e:
    print("\nError:", e)
    print("Hey! Don't worry! It's because once a tuple is created, you cannot change its values unlike a list.")

Error: 'tuple' object does not support item assignment
Hey! Don't worry! It's because once a tuple is created, you cannot change its values unlike a list.

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [60]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [61]:
print("First element of city:", city[0])

First element of city: Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [62]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [63]:
cities = (city, city2)

Print cities

In [64]:
print("Cities:", cities)

Cities: (('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [65]:
print("Type of the first element in cities:", type(cities[0]))

Type of the first element in cities: <class 'tuple'>

print the type of cities

In [66]:
print("Type of cities:", type(cities))

Type of cities: <class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [67]:
d = {"actor": "amir", "animal": "cat", "earth": 2, "list": [23, 32, 12]}

Print the value of d[0]

In [68]:
try:
    print("Value of d[0]:", d[0])
except KeyError as e:
    print("Error:", e)

Error: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [69]:
actor = d['actor']

Print the type of actor

In [70]:
print("Type of actor:", type(actor))

Type of actor: <class 'str'>

Store the value of d[‘list’] in new variable List.

In [71]:
List = d['list']

Print the type of List.

In [72]:
print("Type of List:", type(List))

Type of List: <class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [73]:
d1 = {'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [74]:
d.update(d1)

print d

In [75]:
print("Merged dictionary d:", d)

Merged dictionary d: {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [76]:
print("Keys in d:", d.keys())

Keys in d: dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [77]:
print("Values in d:", d.values())

Values in d: dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [78]:
print("Key-value pairs in d:")
for key, value in d.items():
    print(f"({key} ----> {value})")

    sent = "Hello, how are you?"

Key-value pairs in d:
(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [79]:
char_counts = {}
for char in sent:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

print("Character counts:", char_counts)

Character counts: {'H': 1, 'e': 2, 'l': 2, 'o': 3, ',': 1, ' ': 3, 'h': 1, 'w': 1, 'a': 1, 'r': 1, 'y': 1, 'u': 1, '?': 1}